#상명{
    position: absolute;
    z-index: 3;
    left: 15px;
    font-size: 40px;
    text-decoration-line: none;
}


.한글제목{
    position: absolute;
    top: 10px;
    left: 80px;
}


.메인메뉴{
    width: 170px;
    height: 40px;
    background-color: darkgoldenrod;
    border: none;
    border-radius: 30px;
    font-size: 27px;
    font-weight: bold;
    position: absolute;
    left: 410px;
    top: 80px;
    z-index: 1;
    text-align: center;
    color: black;
    text-decoration-line: none;
}


.메인메뉴:hover{
    background-color: saddlebrown;
    transition: 0.8s;
    cursor: pointer;
}

.사이드메뉴{
    width: 170px;
    height: 40px;
    background-color: yellowgreen;
    border: none;
    border-radius: 30px;
    font-size: 27px;
    font-weight: bold;
    position: absolute;
    left: 650px;
    top: 80px;
    text-align: center;
    z-index: 1;
    color: black;
    text-decoration-line: none;
}

.사이드메뉴:hover{
    background-color:rgb(117, 161, 117);
    cursor: pointer;
    transition: 0.8s;
}


.음료{
    width: 170px;
    height: 40px;
    background-color: skyblue;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 890px;
    top: 80px;
    z-index: 1;
    
}

.음료:hover{
    background-color: cornflowerblue;
    transition: 0.8s;
    cursor: pointer;

}

.이미지1{
    position: absolute;
    top: 250px;
    left: 350px;
    z-index: 2;
    
}

.뉴메뉴{
    position: absolute;
    top: 515px;
    left: 350px;
    z-index: 3;
}

.아이디창{
    position: absolute;
    top: 210px;
    left: 110px;
    z-index: 3;
    
}


.로그인{
    position: absolute;
    z-index: 5;
    top: 200px;
    left: 35px;
}

.로그인버튼{
    width: 60px;
    height: 20px;
    border: none;
    border-radius: 30px;
    box-shadow: none;
    position: absolute;
    top: 260px;
    left: 195px;
    background-color: grey;
    z-index: 3;
}

.로그인버튼:hover{
    background-color: darkgray;
    cursor: pointer;
    transition: 0.2s;
}

.회원가입{
    width: 100px;
    height: 20px;
    border: none;
    border-radius: 30px;
    box-shadow: none;
    position: absolute;
    top: 290px;
    left: 155px;
    background-color: grey;
    z-index: 3;
}

.회원가입:hover{
    background-color: darkgray;
    cursor: pointer;
    transition: 0.2s;
}

.id배경{
    width: 270px;
    height: 480px;
    background-color: cadetblue;
    z-index: 1;
    position: absolute;
    top: 170px;
    left: 10px;
    border-radius: 20px;
}


.신메뉴배경{
    width: 715px;
    height: 400px;
    background-color: antiquewhite;
    border-radius: 20px;
    position: absolute;
    top: 170px;
    left: 300px;
    z-index: 1;
}

.신메뉴글씨{
    position: absolute;
    top: 155px;
    left: 330px;
    z-index: 5;
}

.카레우동{
    width: 270px;
    height: 270px;
    position: absolute;
    top: 250px;
    left: 680px;
    z-index: 2;
}

.카레우동글씨{
    font-size: 13px;
    font-family: monospace;
    color: sienna;
    position: absolute;
    top: 515px;
    left: 690px;
    z-index: 3;
    font-weight: bold;


}

.와인{
    width: 170px;
    height: 40px;
    background-color: darkorchid;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 1130px;
    top: 80px;
    z-index: 1;
}

.와인:hover{
    background-color: darkmagenta;
    transition: 0.8s;
    cursor: pointer;
}

.주소명{
    position: absolute;
    top: 490px;
    left: 1060px;
    z-index: 2;
}


.지도배경{
    width: 338px;
    height: 410px;
    z-index: 1;
    background-color: yellowgreen;
    border-radius: 20px;
    position: absolute;
    top: 175px;
    left: 1040px;
}

.주방전체배경{
    width: 1450px;
    height: 1050px;
    position: fixed;
    z-index: 0;
    left: 1px;
    top: 0px;
}

.전화버튼{
    z-index: 5;
    position: absolute;
    top: 600px;
    left: 65px;
    border-radius: 10px;
    background-color: black;
    border: none;
}

.전화버튼:hover{
    cursor: pointer;
}

.문자버튼{
    z-index: 5;
    position: absolute;
    top: 600px;
    left: 125px;
    border-radius: 10px;
    background-color: black;
    border: none;
}

.문자버튼:hover{
    cursor: pointer;

}

.예약버튼{
    z-index: 5;
    position: absolute;
    top: 600px;
    left: 185px;
    border-radius: 10px;
    background-color: black;
    width: 40px;
    height: 37px;
    color: white;
    border: none;
}

.예약버튼:hover{
    cursor: pointer;

}

.목록차트{
    position: absolute;
    top: 350px;
    left: 40px;
    z-index: 3;
    color: black;
}

.검색창{
    position: absolute;
    top: 642px;
    left: 70px;
    z-index: 3;
  
}

.로그인창배경{
    width: 250px;
    height: 130px;
    background-color: whitesmoke;
    z-index: 2;
    position: absolute;
    top: 180px;
    left: 20px;
    border-radius: 20px;
}

.top버튼{
    position: fixed;
    width: 40px;
    height: 40px;
    z-index: 3;
    background-color: white;
    color: black;
    bottom: 5px;
    right: 10px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    
}

.설명배경{
    width: 715px;
    height: 350px;
    background-color: antiquewhite;
    border-radius: 20px;
    position: absolute;
    top: 600px;
    left: 300px;
    z-index: 1;
}

.가게설명{
    font-size: 30px;
    position:absolute;
    color: black;
    top: 620px;
    left: 310px;
    z-index: 2;
}


.메인1{
    position: absolute;
    z-index: 2;
    top: 245px;
    left: 310px;
    width: 380px;
    height: 380px;
    border-radius: 10px;
}

.메인창메뉴1{
    width: 1000px;
    height: 450px;
    position:absolute;
    top: 190px;
    left: 300px;
    z-index: 1;
    background-color: burlywood;
    border-radius: 10px;

}

.메인메뉴1{
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 220px;
    left: 700px;
    color: black;
    z-index: 3;
}

.버터난{
    position: absolute;
    z-index: 2;
    top: 245px;
    left: 310px;
    width: 380px;
    height: 380px;
    border-radius: 10px;
}

.버터난설명{
      font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 220px;
    left: 700px;
    color: black;
    z-index: 3;
}

.메인창메뉴2{
    width: 1000px;
    height: 450px;
    position:absolute;
    top: 690px;
    left: 300px;
    z-index: 1;
    background-color: burlywood;
    border-radius: 10px;
}


.메인2{
    position: absolute;
    z-index: 2;
    top: 745px;
    left: 310px;
    width: 380px;
    height: 380px;
    border-radius: 10px;
}

.메인메뉴2{
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 720px;
    left: 700px;
    color: black;
    z-index: 3;
}

#이벤트팝{
    z-index: 2;
    position: absolute;
    top: 700px;
    right: 100px;
    width: 140px;
    height: 150px;
    border-radius: 10px;
    font-weight: bold;
    background-color: white;
    border: none;
    font-size: 20px;
}

#이벤트팝:hover{
    cursor: pointer;
    box-shadow: 3px 3px 3px skyblue; 
}
.가림막{
    width: 1400px;
    height: 26px;
    position: absolute;
    top: 134px;
    background-color: black;
}








.팝업창{
    display: none;
    position: absolute;
    content: "";
    width: 180vh;
    height: 350vh;
    background-color:rgba(0, 0, 0, 0.7);
    top:0;
    left: 0;
    z-index: 6;
}

.팝업안창{
    display: none;
    width: 700px;
    height: 2200px;
    position: absolute;
    top:50%;
    left: 45%;
    margin: -250px 0 0 -250px;
    background:#eee;
    z-index: 6;
    font-size: 25px;
    border-radius: 10px;
}

.닫기버튼{
    width: 26px;
    height: 26px;
    position: absolute;
    top: 150px;
    right: 325px;
    z-index: 6;
}

.닫기버튼> a{
    display: block;
    width: 100%;
    height: 100%;
    background:url(https://img.icons8.com/metro/26/000000/close-window.png);
    text-indent: -9999px;
}

#map{
    z-index: 3;
    position: absolute;
    top: 200px;
    left: 1060px;
    border-radius: 20px;
}











